.label {
    margin-right: calc(var(--grid) * 2);
}

.search {
    width: auto;
    height: calc(var(--grid) * 3);
    font-size: large;
    margin-top: calc(var(--grid) * 4);
    margin-left: var(--grid);
}
