.searchContainer {
    display: inline-block;
}

.search,
.confirmButton,
.clearButton {
    font-size: inherit;
    padding: 0.2em;
    margin: 0.1em 0.2em;
    width: auto;
    border-radius: 0.3em;
    border: 0.08em solid gray;
    color: gray;
    background-color: var(--shades);
    /* the following ensures they're all using the same box-model for rendering */
    -moz-box-sizing: border-box; /* or `border-box` */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* .confirmButton {
    font-size: inherit;
    padding: 0.2em;
    margin: 0.1em 0.2em;
    /* the following ensures they're all using the same box-model for rendering 
    -moz-box-sizing: content-box; /* or `border-box` 
    -webkit-box-sizing: content-box;
    box-sizing: content-box;

    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 0.08rem solid gray;
    margin: 0.3rem;
    color: gray;
    background-color: var(--shades);
}

.clearButton {
    font-size: inherit;
    padding: 0.2em;
    margin: 0.1em 0.2em;
    /* the following ensures they're all using the same box-model for rendering 
    -moz-box-sizing: content-box; /* or `border-box` 
    -webkit-box-sizing: content-box;
    box-sizing: content-box;

    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 0.08rem solid gray;
    margin: 0.3rem;
    color: gray;
    background-color: var(--shades);
} */

.confirmButton:hover {
    color: white;
    border-color: rgb(57, 150, 57);
    background-color: rgb(57, 150, 57);
}

.clearButton:hover {
    color: white;
    border-color: var(--secondary);
    background-color: var(--secondary);
}

.fieldset {
    border: none;
    padding: 0px;
    font-size: 1.3rem;
}
