.container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    justify-content: space-evenly;
    color: #1d1c1d;
    background-color: #f6f6f6;
}

.inbox {
    padding: inherit calc(var(--grid) * 5);
}

.table {
    background-color: var(--tertiary);
}

.tableHeader {
    background-color: var(--background);
    color: var(--tertiary);
}

.buttonContainer {
    text-align: center;
    margin-top: calc(var(--grid) * 2);
}

.table,
th,
td {
    border-bottom: 2px solid var(--background);
    border-right: 2px solid var(--background);
    margin: -2px;
}
